!! ------------------------------------------------------------------------------
!! Import other Configuration from ~/.Xresources.d
!! ------------------------------------------------------------------------------
#include "/home/tester/.Xresources.d/color/gruvbox-dark"
#include "/home/tester/.Xresources.d/urxvt"
!! ------------------------------------------------------------------------------

